--
-- PostgreSQL database dump
--

-- Dumped from database version 15.8 (Debian 15.8-1.pgdg110+1)
-- Dumped by pg_dump version 15.8 (Debian 15.8-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA tiger;


--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA tiger_data;


--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA topology;


--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: administrative_audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.administrative_audit_logs (
    event_id bigint NOT NULL,
    user_id integer,
    action_signature character varying(100) NOT NULL,
    impacted_account_num character varying(50),
    timestamp_executed timestamp without time zone DEFAULT now()
);


--
-- Name: administrative_audit_logs_event_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.administrative_audit_logs_event_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: administrative_audit_logs_event_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.administrative_audit_logs_event_id_seq OWNED BY public.administrative_audit_logs.event_id;


--
-- Name: appraisal_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.appraisal_history (
    history_id bigint NOT NULL,
    account_num character varying(50),
    appraisal_yr integer,
    lma numeric(14,2),
    ima numeric(14,2),
    total_market_value numeric(14,2),
    value_change_pct numeric(8,4),
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: appraisal_history_history_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.appraisal_history_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: appraisal_history_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.appraisal_history_history_id_seq OWNED BY public.appraisal_history.history_id;


--
-- Name: change_detections; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.change_detections (
    detection_id bigint NOT NULL,
    account_num character varying(50),
    detection_type character varying(50),
    confidence numeric(5,2),
    review_status character varying(50),
    detected_at timestamp without time zone,
    geom public.geometry(MultiPolygon,4326)
);


--
-- Name: change_detections_detection_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.change_detections_detection_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: change_detections_detection_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.change_detections_detection_id_seq OWNED BY public.change_detections.detection_id;


--
-- Name: dcad_accounts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.dcad_accounts (
    account_id bigint NOT NULL,
    account_num character varying(50) NOT NULL,
    appraisal_yr integer NOT NULL,
    division_cd character varying(20),
    biz_name text,
    owner_name1 text,
    owner_name2 text,
    exclude_owner boolean DEFAULT false,
    owner_address_1 text,
    owner_address_2 text,
    owner_address_3 text,
    owner_address_4 text,
    owner_city character varying(100),
    owner_state character varying(50),
    owner_zipcode character varying(20),
    owner_country character varying(100),
    street_num character varying(20),
    street_half_num character varying(20),
    full_street_name text,
    bldg_id character varying(50),
    unit_id character varying(50),
    property_city character varying(100),
    property_zipcode character varying(20),
    mapsco character varying(50),
    nbhd_cd character varying(50),
    legal_1 text,
    legal_2 text,
    legal_3 text,
    legal_4 text,
    legal_5 text,
    deed_txfr_date date,
    gis_parcel_id character varying(100),
    phone_num character varying(50),
    lma character varying(50),
    ima character varying(50),
    geom public.geometry(MultiPolygon,4326),
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: dcad_accounts_account_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.dcad_accounts_account_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: dcad_accounts_account_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.dcad_accounts_account_id_seq OWNED BY public.dcad_accounts.account_id;


--
-- Name: ml_analytics_outputs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ml_analytics_outputs (
    account_num text,
    protest_risk_score double precision,
    anomaly_flag bigint
);


--
-- Name: protests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.protests (
    protest_id bigint NOT NULL,
    account_num character varying(50),
    appraisal_yr integer,
    protest_reason text,
    status character varying(50),
    outcome character varying(50),
    filed_date date,
    hearing_date date,
    resolved_date date,
    original_value numeric(14,2),
    reduced_value numeric(14,2),
    appraisal_notes text
);


--
-- Name: protests_protest_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.protests_protest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: protests_protest_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.protests_protest_id_seq OWNED BY public.protests.protest_id;


--
-- Name: qa_issues; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.qa_issues (
    issue_id bigint NOT NULL,
    account_num character varying(50),
    issue_type character varying(50),
    description text,
    severity character varying(20),
    status character varying(20),
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: qa_issues_issue_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.qa_issues_issue_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: qa_issues_issue_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.qa_issues_issue_id_seq OWNED BY public.qa_issues.issue_id;


--
-- Name: security_rbac_users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.security_rbac_users (
    user_id integer NOT NULL,
    username character varying(50) NOT NULL,
    secure_password_hash character varying(255) NOT NULL,
    assigned_role character varying(20) NOT NULL,
    operational_division character varying(50) NOT NULL,
    CONSTRAINT security_rbac_users_assigned_role_check CHECK (((assigned_role)::text = ANY ((ARRAY['public'::character varying, 'appraiser'::character varying, 'gis_editor'::character varying, 'analyst'::character varying, 'admin'::character varying])::text[])))
);


--
-- Name: security_rbac_users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.security_rbac_users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: security_rbac_users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.security_rbac_users_user_id_seq OWNED BY public.security_rbac_users.user_id;


--
-- Name: valuation_protests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.valuation_protests (
    protest_id integer NOT NULL,
    account_num character varying(50),
    reason text,
    status character varying(50),
    notes text,
    "timestamp" timestamp without time zone DEFAULT now()
);


--
-- Name: valuation_protests_protest_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.valuation_protests_protest_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: valuation_protests_protest_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.valuation_protests_protest_id_seq OWNED BY public.valuation_protests.protest_id;


--
-- Name: administrative_audit_logs event_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.administrative_audit_logs ALTER COLUMN event_id SET DEFAULT nextval('public.administrative_audit_logs_event_id_seq'::regclass);


--
-- Name: appraisal_history history_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.appraisal_history ALTER COLUMN history_id SET DEFAULT nextval('public.appraisal_history_history_id_seq'::regclass);


--
-- Name: change_detections detection_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.change_detections ALTER COLUMN detection_id SET DEFAULT nextval('public.change_detections_detection_id_seq'::regclass);


--
-- Name: dcad_accounts account_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dcad_accounts ALTER COLUMN account_id SET DEFAULT nextval('public.dcad_accounts_account_id_seq'::regclass);


--
-- Name: protests protest_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.protests ALTER COLUMN protest_id SET DEFAULT nextval('public.protests_protest_id_seq'::regclass);


--
-- Name: qa_issues issue_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.qa_issues ALTER COLUMN issue_id SET DEFAULT nextval('public.qa_issues_issue_id_seq'::regclass);


--
-- Name: security_rbac_users user_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.security_rbac_users ALTER COLUMN user_id SET DEFAULT nextval('public.security_rbac_users_user_id_seq'::regclass);


--
-- Name: valuation_protests protest_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.valuation_protests ALTER COLUMN protest_id SET DEFAULT nextval('public.valuation_protests_protest_id_seq'::regclass);


--
-- Name: administrative_audit_logs administrative_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.administrative_audit_logs
    ADD CONSTRAINT administrative_audit_logs_pkey PRIMARY KEY (event_id);


--
-- Name: appraisal_history appraisal_history_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.appraisal_history
    ADD CONSTRAINT appraisal_history_pkey PRIMARY KEY (history_id);


--
-- Name: change_detections change_detections_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.change_detections
    ADD CONSTRAINT change_detections_pkey PRIMARY KEY (detection_id);


--
-- Name: dcad_accounts dcad_accounts_account_num_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dcad_accounts
    ADD CONSTRAINT dcad_accounts_account_num_key UNIQUE (account_num);


--
-- Name: dcad_accounts dcad_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dcad_accounts
    ADD CONSTRAINT dcad_accounts_pkey PRIMARY KEY (account_id);


--
-- Name: protests protests_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.protests
    ADD CONSTRAINT protests_pkey PRIMARY KEY (protest_id);


--
-- Name: qa_issues qa_issues_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.qa_issues
    ADD CONSTRAINT qa_issues_pkey PRIMARY KEY (issue_id);


--
-- Name: security_rbac_users security_rbac_users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.security_rbac_users
    ADD CONSTRAINT security_rbac_users_pkey PRIMARY KEY (user_id);


--
-- Name: security_rbac_users security_rbac_users_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.security_rbac_users
    ADD CONSTRAINT security_rbac_users_username_key UNIQUE (username);


--
-- Name: valuation_protests valuation_protests_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.valuation_protests
    ADD CONSTRAINT valuation_protests_pkey PRIMARY KEY (protest_id);


--
-- Name: idx_change_detections_geom; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_change_detections_geom ON public.change_detections USING gist (geom);


--
-- Name: idx_dcad_account; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_dcad_account ON public.dcad_accounts USING btree (account_num);


--
-- Name: idx_dcad_geom; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_dcad_geom ON public.dcad_accounts USING gist (geom);


--
-- Name: idx_dcad_nbhd; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_dcad_nbhd ON public.dcad_accounts USING btree (nbhd_cd);


--
-- Name: idx_dcad_owner; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_dcad_owner ON public.dcad_accounts USING btree (owner_name1);


--
-- Name: idx_dcad_transfer; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_dcad_transfer ON public.dcad_accounts USING btree (deed_txfr_date);


--
-- Name: idx_protests_account; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_protests_account ON public.protests USING btree (account_num);


--
-- Name: uq_appraisal_history_acct_yr; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_appraisal_history_acct_yr ON public.appraisal_history USING btree (account_num, appraisal_yr);


--
-- Name: appraisal_history appraisal_history_account_num_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.appraisal_history
    ADD CONSTRAINT appraisal_history_account_num_fkey FOREIGN KEY (account_num) REFERENCES public.dcad_accounts(account_num) ON DELETE CASCADE;


--
-- Name: protests protests_account_num_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.protests
    ADD CONSTRAINT protests_account_num_fkey FOREIGN KEY (account_num) REFERENCES public.dcad_accounts(account_num) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

